* {
  box-sizing: border-box;
}

:root {
  --eggshell: #F9F7F7;
  --light-blue: #DBE2EF;
  --mid-blue: #3F72AF;
  --dark-blue: #112D4E;
}

body {
  background: var(--eggshell);
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: var(--dark-blue)
}

ul {
  list-style-type: none;
  padding: 0; 
}

a {

    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--dark-blue);

}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-icon {
    display: none;
}

.nav-home {
    width: 50%;
}

.nav-img {
    width: 30%;
}

.nav-link-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.nav-links {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--dark-blue);
    flex-wrap: nowrap;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

#quotes-section{
  background-color: #ffffff;
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#quote-container {
    background-color: var(--mid-blue);
    display: flex; /*Put display as a table to extend the container if quote is too long*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 40vh;
    width: 70%;
    border-radius: 50px;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.5;

}

#text-area{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text, .author{
  font-family: 'Prata', serif;
  color: #ffffff;
}

.quote-text{
  text-align: center;
  font-size: 2.5vw;
  width: 85%;
  margin: 0 auto;
}

.author{
  text-align: center;
  font-size: 1.5vw;
  width: 85%;
}

.languages{
  display: none;
    text-align: center;
    font-size: 1.5vw;
    width: 85%;

}


/* Voices list - voluntarily hiden, needs to be there for the voiceover option */

#voices-list{
display: none; 
background: none;
color: #ffffff;
border: none;
}



  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
 
.about-section {

    background-color: #ffffff;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 575px;
  background-color: var(--light-blue);
  border-radius: 30px;
  margin: 45px;
}

.about-img {
  height: 300px;
  width: 300px;
  border-radius: 30px;
}

.about-name {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--dark-blue)
}

.about-quote {

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-blue);
    text-align: center;
}

.main-functions {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-functions button {
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor:pointer;
}

#generate-btn svg,
#like-btn svg,
#download-btn svg,
#copy-btn svg,
#play-btn svg,
#translate-btn svg {

  display: inline-block; /* display SVG as inline-block */
  vertical-align: middle; /* align SVG vertically in the middle */
  fill: currentColor; /* use current text color to fill SVG */
  width: 4em; /* set width of SVG to 1em */
  height: 4em; /* set height of SVG to 1em */

}


@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-img {
        width: 70%;
    }
    
    .nav-link-list {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link-list.active {
        left: 0;
    }

    a {
        color: var(--dark-blue);
        padding: 15px 0;
        text-decoration: none;
        font-size: 17px;
        display: flex;
        justify-content: center;
    }

    .navbar a.nav-icon {
        background: var(--eggshell);
        display: block;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}

#recent-quotes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.recent-quote {
  background-color: var(--light-blue);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  width: 50%;
}

#recent-quotes h2 {
  color: var(--mid-blue);
}






