* {
    box-sizing: border-box;
  }

:root {
    --eggshell: #F9F7F7;
    --light-blue: #DBE2EF;
    --mid-blue: #3F72AF;
    --dark-blue: #112D4E;
}

body {
    background: var(--eggshell);
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: var(--dark-blue)
}

ul {
    list-style-type: none;
    padding: 0; 
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--mid-blue);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: var(--dark-blue);
}


#quotes-section{
    background-color: #ffffff;
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#quotes-diplay {
    background-color: #6096B4;
    height: 40vh;
    width: 70%;
    border-radius: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.quote, .author{
    font-family: 'Prata', serif;
    color: #ffffff;
}

.quote{
    text-align: center;
    font-size: 50px;
}

.author{
    font-size: 25px;
}

.favorite-gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}